<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Being insulting?<\r\n></title>
		<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Being insulting?<\r\n></h1>
			<p> </p>
			<form action = "/gettext" method="POST">
                            <p> <input name="text" type ="text" value="insert text here" /> </p>
                            <p> <input type ="submit" value="check it!" /> </p>
                        </form>
		</div>
	</body>
</html>
