<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Being insulting?</title>
		<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Being insulting?</h1>
                        <form action = "/getdelay" method="POST">
                            <p> Select Origin:<input name="origin" type ="text" value="JFK" /> </p>
                            <p> Select Destination: <input name="dest" type ="text" value="LAX" /> </p>
    			    <p> Select Airline : <input name="unique_carrier" type="text" value="AA"></p>
    			    <p> Select Date:<input name="day_of_week" type ="text" value="1" /> </p>
    			    <p> <input type ="submit" value="Check Delay" /> </p>
			</form>
			<input type="text" id="input1" />
			<button onclick="myJsFunction()"></button>
			<script type="text/javascript">
 			function myJsFunction(){
			    var text=document.getElementById('input1').value;
 			}
			</script>
		</div>
	</body>
</html>
